nz-card,
nz-card nz-card-meta {
  display: block;
}
nz-card.ant-card-no-padding .ant-card-body {
  padding: 0;
}
nz-card .ant-tabs-large .ant-tabs-tab {
  padding: 16px;
}
nz-card .ant-tabs-nav .ant-tabs-tab-active {
  font-weight: 500;
}
